OPENAI_KEY=
DB_PORT=5432
DB_NAME=sapiens_db
DB_USER=sapiens
DB_PASSWORD=
DB_HOST=127.0.0.1
BLOOM_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE3MzUzMzQwNDYsInN1YiI6IjExODM5ODYwODkwNjI2MDQ4MCJ9.sSzLomXUyY5Lvu3Gbolp8_OtYW8lmtcsYTPBNlgcs8cc
STORAGE_PATH=/data/emmabloom/uploads/
MODEL=gpt-4o-mini